name: Unit tests

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.7"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: ${{ matrix.python-version }}
        activate-environment: lameg
        auto-activate-base: false

    - name: Install dependencies and build package
      run: |
        conda activate lameg
        pip install .
        rm ${{ github.workspace }}/MATLAB_Runtime_R2019a_Update_9_glnxa64.zip
        rm ${{ github.workspace }}/test_data.tar.gz
      shell: bash -l {0}

    - name: Lint with pylint
      run: |
        conda activate lameg
        pip install pylint pytest==7.4.4 pytest-cov coverage pytest-dependency==0.6.0
        pylint --rcfile=${{ github.workspace }}/.pylintrc --disable=too-many-arguments,too-many-locals $(git ls-files '*.py')
      shell: bash -l {0}

    - name: Test with pytest
      env:
        SUBJECTS_DIR: ${{ github.workspace }}/test_data/fs
      run: |
        conda activate lameg
        python -m pytest --cov=lameg --cov-report=xml
      shell: bash -l {0}

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
